.row.margin-top-md#app-dashboard
	article.col-md-3.col-sm-6.col-sm-offset-0.col-xs-10.col-xs-offset-1.margin-top-md(
		ng-repeat="gif in dashboardCtrl.dashboardData")
		img.center-block.gif-source(
			ng-init="gifSrc = 'fixed_height_still' ",
			ng-click="gifSrc = (gifSrc == 'fixed_height_still' ? 'fixed_height' : 'fixed_height_still')",
			ng-src="{{gif.images[gifSrc].url}}"
		)
		.gif-title-cover
			h5.text-center {{ gif.slug | extractNameFromSlug }}
		a.add-to-fav-button(ng-click="dashboardCtrl.addToFavorites(gif.id);")