header#app-header.container(ng-controller="headerController as headerCtrl")
	.row.margin-top-lg
		.col-xs-12
			a.btn.btn-isb-primary.pull-left Favourites (0)
			a.btn.btn-isb-primary.pull-right Upload
	.row.form-group.margin-top-md
		.col-xs-12
			input.form-control(placeholder="Search")

