// Header and Footer
$header-height: 105px;
$footer-height: 30px;
$header-bg: #000000;
$footer-bg: #000000;

// Body
@import url(https://fonts.googleapis.com/css?family=Muli);
$body-bg: #1F1F1F;
$main-font-family: 'Muli', sans-serif;
$gif-title-overlay-bg: rgba( 31, 31, 31, 0.35);

//Components
$btn-isb-primary-bg: #FDAF17;
$btn-isb-primary-bg-hover: #EC971F;
$btn-isb-primary-color: #FFFFFF;

