// Header and Footer
$header-height: 30px;
$footer-height: 30px;
$header-bg: #000000;
$footer-bg: #F5F5F5;

// Body
@import url(https://fonts.googleapis.com/css?family=Muli);
$body-bg: #FFFFFF;
$main-font-family: 'Muli', sans-serif;

